pdfplumber
python-dotenv
openai
langchain-openai
langchain
langchain-core
langchain-community
fastapi
fastapi.responses
uvicorn
Pillow  
pydantic
faiss-cpu 
pymongo
pytess
pytesseract
typing
pdf2image
pathlib 
langchain.schema